[submodule "discovery"]
	path = discovery
	url = https://github.com/Zeddling/discovery
[submodule "Notes_API"]
	path = Notes_API
	url = git@github.com:Zeddling/Notes_API.git
[submodule "tasks_service"]
	path = tasks_service
	url = git@github.com:Zeddling/tasks_service.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:Zeddling/api-gateway.git
